@font-face {
    font-family: 'zef_rave';
    src: url("/fonts/ZeF_RAVE/ZeF_RAVE.ttf")
}


h1 {
    color: #fefefe;
    text-align: center;
    font-family: zef_rave;
    font-size: 56px;
}

video {
    position: relative;
    z-index: 0;
}

nav {
    text-align: center;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.holder {
    width: 200px;
    height: 80px;
    background: #555;
}

.holder::after {
    content: '';
    -webkit-transform: skew(-25deg);
    -ms-transform: skew(-25deg);
    transform: skew(-25deg);
}

.center-div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center-text {
    text-align: center;
}

.no-border {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.no-transform {
    transform: skew(25deg);
}


.brand-orange {
    color: #ff5e00;
}

.brand-blue {
    color: #0caee6;
}

.parallax {
    background-image: url("/images/graphics/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.glowing-border {
    border: 2px solid #ff5e00;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 12px #ff5e00;
}

.bottom-gap{
    margin-bottom: 30px;
}
