@font-face {
    font-family: 'zef_rave';
    src: url("/fonts/ZeF_RAVE/ZeF_RAVE.ttf")
}

@font-face {
    font-family: 'monts';
    src: url("/fonts/Montserrat_Black/Montserrat-Black.otf")
}

a:link {
    color: lightgray;
    text-decoration: none;
}

a:visited {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: #ff5e00;
    text-decoration: none;
}

a.button {
    appearance: button;
    font-family: monts;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    background-color: #ff5e00;
    color: #010101;
    padding: 6px;
    border-radius: 8px;
}

h1 {
    color: #fefefe;
    text-align: center;
    font-family: zef_rave;
    font-size: 56px;
}

h2 {
    color: #fefefe;
    text-align: center;
    font-family: monts;
    font-size: 48px;
}

video {
    position: relative;
    z-index: 0;
}

nav {
    font-family: monts;
    font-size: 32px;
    text-align: center;
    width: 60%;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: auto;
    border: 5px #333;
    border-radius: 8px;
    background-color: #3330;
}

main, p, article {
    font-family: monts;
    color: white;
    text-align: center;
}

.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.black-bg {
    background-color: black;
}

.blurb {
    color: white;
    background-color: black;
    font-size: 16px;
}

.brand-blue {
    color: #0caee6;
}

.brand-orange {
    color: #ff5e00;
}

.bottom-gap{
    margin-bottom: 30px;
}

.center-text {
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    background: rgba(0.6, 0.6, 0.6, 0.6);
    width: 65%;
    margin: 0 auto;
}

.glow-orange {
    border: 2px solid #ff5e00;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 12px #ff5e00;
}

.glow-blue {
    border: 2px solid #0caee6;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 12px #0caee6;
}

.holder {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 80px;
    background: #555;
}

.holder::before {
    position: absolute;
    transform: skew(-25deg);
}

.images {
    min-height: 250px;
    max-height: 250px;
    transition: .5s ease;
}

.item {
    flex: 1 1 auto;
    padding: 0px;
    margin: 5px;
    background-image: linear-gradient(grey, black);
}

.item:hover .blurb {
    opacity: 0.5;
}

.light-font {
    color: #fefefe;
}

.no-spacing {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.no-transform {
    transform: skew(25deg);
}

.parallax {
    background-image: url("/images/graphics/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#introVideo {
    width: 600px;
    max-width: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
