@font-face {
    font-family: 'zef_rave';
    src: url("/fonts/ZeF_RAVE/ZeF_RAVE.ttf")
}

@font-face {
    font-family: 'monts';
    src: url("/fonts/Montserrat_Black/Montserrat-Black.otf")
}

@keyframes fade {
    from {box-shadow: 0 0 12px #ff5e00;}
    to {box-shadow: 0 0 12px #0caee6;}
    to {box-shadow: 0 0 12px #ff5e00;}
}

a:link {
    color: lightgray;
    text-decoration: none;
}

a:visited {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a:active {
    color: #ff5e00;
    text-decoration: none;
}

a.button {
    appearance: button;
    font-family: monts;
    width: -moz-fit-content;
    width: fit-content;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    background-color: #ff5e00;
    color: #010101;
    padding: 6px;
    border-radius: 8px;
}

body {
    margin: 0;
}

h1 {
    color: #fefefe;
    text-align: center;
    font-family: zef_rave;
    font-size: 56px;
}

h2 {
    color: #fefefe;
    text-align: center;
    font-family: monts;
    font-size: 48px;
}

nav {
    font-family: monts;
    font-size: 32px;
    text-align: center;
    width: 60%;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: auto;
    border: 5px #333;
    border-radius: 8px;
    background-color: #3330;
}

main, p, article {
    font-family: monts;
    color: white;
    text-align: center;
}

/* video {

} */

.blurb {
    color: white;
    background-color: black;
    font-size: 16px;
}

.brand-blue {
    color: #0caee6;
}

.brand-orange {
    color: #ff5e00;
}

.bottom-gap{
    margin-bottom: 30px;
}

.center-text {
    text-align: center;
}

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    background: rgba(0.6, 0.6, 0.6, 0.6);
    width: 65%;
    margin: 0 auto;
}

.content {
    position: relative;
}

/* .download-glow {
    border: 2px solid #ff5e00;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 12px #ff5e00;
}

.download-glow:hover {
    animation-name: fade;
    animation-duration: 5s;
    animation-iteration-count: infinite;
} */

.glow-orange {
    border: 2px solid #ff5e00;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 12px #ff5e00;
}

.glow-blue {
    border: 2px solid #0caee6;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 12px #0caee6;
}

.header-image {
    background-image: url("/images/graphics/bg.jpg");
    height: 50%;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
}

.holder {
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 80px;
    background: rgba(0.6, 0.6, 0.6, 0.6);
    /* position: relative; */
}

/* .holder::before {
    content: "";
    display: inline-block;
    transform: skew(-25deg);
    -webkit-transform: skew(-25deg);
    -moz-transform: skew(-25deg);
    -o-transform: skew(-25deg);
    backface-visibility: hidden;
} */

.images {
    min-height: 250px;
    max-height: 250px;
    transition: .5s ease;
}

.item {
    flex: 1 1 auto;
    padding: 0px;
    margin: 5px;
    background-image: linear-gradient(grey, black);
}

.item:hover .blurb {
    opacity: 0.5;
}

.light-font {
    color: #fefefe;
}

.main-home {
    background: rgba(0.6, 0.6, 0.6, 0.6);
}

.no-spacing {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.no-transform {
    transform: skew(25deg);
}

.page-title {
    height: auto;
    margin: auto;
}

.parallax {
    background-image: url("/images/graphics/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar {
    float: right;
    width: 25%;
    margin: 10px;
}

.testclass {
    background-color: black;

}

.testclass::before {
    content: "*****";
    color: red;
}

.title-image {
    max-height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-margin {
    padding: 300px 0px;
}

.twitter-timeline {
    position: static;
    visibility: visible;
    display: inline-block_0px;
    margin-top: 0px;
    margin-bottom: 0px;
    min-height: 200px;
}

.vert-align{
    margin-top: auto;
    margin-bottom: auto;
}

#introVideo {
    width: 600px;
    max-width: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#headerVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-position: center;
    object-fit: cover;
}
