---
layout: default
title: Beyond Melee Changelog
---
<header class="page-title bottom-gap">
    <div class="page-header-margin header-image">
        <h1 class="vert-align center title-header-text">
            Changelog
        </h1>
    </div>
</header>
<div class="">
    <div class="holder center-text bottom-gap glow-blue top-gap">
        <section class="">
            <div class="large">
                Characters
                {% for char in site.characters %}
                    <details id="{{ char.title }}" class="indent">
                        <summary id="" class="medium"><p class="medium no-return "><img src="/images/content/char-icons/{{ char.image }}" class="char-icon"></img> {{ char.name }}</p></summary>
                        <div class="glow-blue">
                            <p class="indent medium">{{ char.over }}</p>
                            <details class="inner-detail indent">
                                <summary><p class="small no-return">Value Changes for {{ char.name }}</p></summary>
                                <div class="indent">
                                    {{ char.content }}
                                </div>
                            </details>
                        </div>
                    </details>
                {% endfor %}
                Stages
                {% for stage in site.stages %}
                    <details id="{{ stage.title }}" class="indent">
                        <summary id="" class="medium">
                            <p class="medium no-return ">
                                <!-- <img src="/images/content/stage-icons/{{ stage.image }}" class="stage-icon"></img> -->
                                {{ stage.name }}
                            </p>
                        </summary>
                        <div class="glow-blue">
                            {{ stage.content }}
                        </div>
                    </details>
                {% endfor %}
                Systems
                {% for system in site.systems %}
                    <details id="{{ system.title }}" class="indent">
                        <summary id="" class="medium">
                            <p class="medium no-return ">
                                <!-- <img src="/images/content/system-icons/{{ system.image }}" class="system-icon"></img> -->
                                {{ system.name }}
                            </p>
                        </summary>
                        <div class="glow-blue">
                            {{ system.content }}
                        </div>
                    </details>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
