---
layout: default
---
<!--<video autoplay muted loop id="bgVideo">
    <source src="/videos/bg.webm" type="video/webm"
</video>-->
<head>
    {% include header.html %}
    <title>Beyond Melee</title>
</head>

{% include nav-bar.html %}

<div>
    <h1>
        Welcome to the In-Progress Beyond Melee Website
    </h1>
<div>
<body class="parallax">
    <div class="holder center-div center-text bottom-gap">
        <h1 class="no-border">
            I prefer it this way
        </h1>
    </div>

    <div class="center-div bottom-gap" style="width:50%;height:1500px;background-color: #0caee6">
    </div>
</body>
