---
layout: default
---
<head>
    {% include header.html %}
    <title>Beyond Melee</title>
</head>

{% include nav-bar.html %}

<div>
    <h1>
        Beyond Melee Website
    </h1>
<div>
<body class="parallax">
    <div class="holder center-div center-text bottom-gap glow-orange">
        <h1 class="no-spacing">
            I prefer it this way
        </h1>
    </div>
    <div class="holder center-div center-text bottom-gap glow-blue">
        <h2 class="no-spacing light-font">
            <a href="/download" class="button">Download Here</a>
    </div>
</body>

{% include footer.html %}
