<footer class="">
    <p class="center-text">
        Website made by: <a href="https://twitter.com/cynth3ticTV" class="rainbow">cynthetic</a><br>
        <br>
        Contributing to <a href="https://www.patreon.com/BeyondMelee">our Patreon</a> helps fund the development of this project, including the website!<br>
        <br>
        <!-- If you notice any problems with the site, you can open an issue on <a href="https://github.com/BeyondMelee/BeyondMelee.github.io">the Github,</a> or you can tell us about it in the #website-feedback channel on <a href="https://discord.gg/63ksc95tZy">the Discord</a><br>
        <br> -->
        We are not affilated with Nintendo, and we do not endorse piracy of any form.  Please use your own original copies of games, as we do not and will not host any .iso or other disk image files.<br>
        All Super Smash Bros. and affiliated content is copyrighted by their respective owners and may not be illegally redistributed.
    </p>
</footer>
