<footer class="">
    <div class="footer-container">
        <div class="footer-flex">
            <div class="footer-item">
                <a href="/download/" class="footer-nav">Download</a>
            </div>
            <div class="footer-item">
                <a href="/changelog/" class="footer-nav">Changelog</a>
            </div>
            <div class="footer-item">
                <a href="/characters/" class="footer-nav">Characters</a>
            </div>
            <div class="footer-item">
                <a href="/faq/" class="footer-nav">FAQ</a>
            </div>
        </div>
        <p class="center-text">
            Website made by: <a href="https://twitter.com/cynth3ticTV" class="rainbow">cynthetic</a><br>
            <br>
            Contributing to <a href="https://www.patreon.com/BeyondMelee">our Patreon</a> helps fund the development of this project, including the website!<br>
            <br>
            We are not affilated with Nintendo, and we do not endorse piracy of any form.  Please use your own original copies of games, as we do not and will not host any .iso or other disk image files.<br>
            All Super Smash Bros. and affiliated content is copyrighted by their respective owners and may not be illegally redistributed.
        </p>
    </div>
</footer>
