<footer class="small-gap">
    <div class="footer-container center center-text">
        <div class="footer-flex">
            <div class="footer-item">
                <a href="/download/" class="footer-nav">Download</a>
            </div>
            <div class="footer-item">
                <a href="/changelog/" class="footer-nav">Changelog</a>
            </div>
            <div class="footer-item">
                <a href="/characters/" class="footer-nav">Characters</a>
            </div>
            <div class="footer-item">
                <a href="/faq/" class="footer-nav">FAQ</a>
            </div>
            <div class="footer-item">
                <a href="/about/" class="footer-nav">About</a>
            </div>
            <div class="footer-item">
                <a href="/Support/" class="footer-nav">Suport</a>
            </div>
            <div class="footer-item">
                <a href="/philosophy/" class="footer-nav">Balance Philosophy</a>
            </div>
            <div class="footer-item">
                <a href="/credits/" class="footer-nav">Credits</a>
            </div>
            <div class="footer-item">
                <a href="/get-involved/" class="footer-nav">Get Involved</a>
            </div>
            <div class="footer-item">
                <a href="/features/" class="footer-nav">Features</a>
            </div>
        </div>
        <div class="divider">
        </div>
        <p class="center-text">
            Website made by: <a href="https://twitter.com/cynth3ticTV" class="rainbow">cynthetic</a><br>
            <br>
            Contributing to <a href="https://www.patreon.com/BeyondMelee">our Patreon</a> helps fund the development of this project, including the website!<br>
            <br>
            We are not affilated with Nintendo, and we do not endorse piracy of any form.  Please use your own original copies of games, as we do not and will not host any .iso or other disk image files.<br>
            All Super Smash Bros. and affiliated content is copyrighted by their respective owners and may not be illegally redistributed.
        </p>
        <div class="footer-flex center center-text">

            <div class="footer-item">
                <a href="https://twitter.com/Beyond_Melee" class="footer-nav font-icons"></a>
            </div>
            <div class="footer-item">
                <a href="https://www.patreon.com/BeyondMelee" class="footer-nav font-icons"></a>
            </div>
            <div class="footer-item">
                <a href="https://beyondmelee.com/discord/" class="footer-nav font-icons"></a>
            </div>
            <div class="footer-item">
                <a href="https://github.com/BeyondMelee/BeyondMelee.github.io" class="footer-nav"></a>
            </div>
        </div>
    </div>
</footer>
