<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Beyond Melee">
<meta name="keywords" content="Melee, Super Smash Bros., Slippi">
<meta name="author" content="cynthetic">
<meta property="og:title" content="Beyond Melee">
<meta property="og:url" content="https://beyondmelee.github.io">
<!--<meta property="og:image" content="https://beyondmelee.com/images/graphics/dm-banner.png">
<meta property="og:site_name" content="beyondmelee.com">-->
<meta property="og:description" content="Beyond Melee is a complehensive Melee mod with deep balance changes and new custom characters.">
<meta name="twitter:site" content="@BeyondMelee">
<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
<link rel="shortcut icon" type="image/jpg" href="{{ 'images/graphics/favicon.ico' | relative_url }}">
