<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="Beyond Melee"/>
<meta name="keywords" content="Melee, Super Smash Bros., Slippi"/>
<meta name="author" content="cynthetic"/>
<meta property="og:title" content="Beyond Melee"/>
<meta property="og:url" content="https://beyondmelee.github.io"/>
<meta content="Site Description" property="og:description"/>
<meta content="/images.graphics/bm-logo-transparent.png" property="og:image" />
<meta content="#ff5e00" data-react-helmet="true" name="theme-color" />
<meta property="og:description" content="Beyond Melee is a complehensive Melee mod with deep balance changes and new custom characters.">
<meta name="twitter:site" content="@BeyondMelee">
<link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">
<link rel="shortcut icon" type="image/jpg" href="{{ 'images/graphics/favicon.ico' | relative_url }}">
