<div class="page-wide">
    <nav class="bottom-gap">
        <a class="brand-link" href="/home/" title="Go back Home"><img class="brand-logo" src="/images/graphics/bm-logo-transparent.png"></img></a>
        <div class="nav-pages">
            <a href="/features/" class="nav">Features</a>
            <a href="/download/" class="nav">Download</a>
            <a href="/characters/" class="nav">Characters</a>
            <div class="subnav">
                <a href="/support/" class="nav subnav-menu">Support</a>
                <div class="subnav-content">
                    <a href="/faq/" class="nav">FAQ</a>
                    <a href="/get-involved/" class="nav">Get Involved</a>
                    <a href="/known-bugs/" class="nav">Known Bugs</a>
                    <a href="/changelog/" class="nav">Changelog</a>
                </div>
            </div>
            <div class="subnav">
                <a href="/about/" class="nav subnav-menu">About</a>
                <div class="subnav-content">
                    <a href="/credits/" class="nav">Credits</a>
                    <a href="/philosophy/" class="nav">Balance Philosophy</a>
                </div>
            </div>
        </div>
    </nav>
</div>
