<nav class="">
    <a href="/" class="button"><img class="logo-size" src="/images/graphics/logo-mono.png"></img></a>
    <a href="/changelog/" class="button light-font">Changelog</a>
    <a href="/download/" class="button light-font">Download</a>
    <a href="/faq/" class="button light-font">FAQ</a>
    <a href="/about/" class="button light-font">About</a>
    <a href="https://discord.gg/PwpcPtkRwU" class="discord alt-button button light-font"><i class="fab fa-discord icons" data-fa-transform="shrink-4 down-6"></i> Discord</a>
    <a href="https://twitter.com/DietMelee" class="twitter alt-button button light-font"><i class="fab fa-twitter icons" data-fa-transform="shrink-4 down-6"></i> Twitter</a>
    <a href="https://www.patreon.com/DietMelee" class="patreon alt-button button light-font"><i class="fab fa-patreon icons" data-fa-transform="shrink-4 down-6"></i> Patreon</a>
</nav>
