<div class="page-wide">
    <nav class="">
        <a class="brand-link" href="/home/" title="Go back Home"><img class="brand-logo" src="/images/graphics/bm-logo-transparent.png"></img></a>
        <div class="nav-pages">
            <a href="/features/" class="nav">Features</a>
            <a href="/download/" class="nav">Download</a>
            <a href="/characters/" class="nav">Characters</a>
            <a href="/support/" class="nav">Support</a>
            <div class="subnav">
                <a href="/faq/" class="nav">FAQ</a>
                <a href="/changelog/" class="nav">Changelog</a>
                <a href="/get-involved/" class="nav">Get Involved</a>
            </div>
            <a href="/about/" class="nav">About</a>
            <div class="subnav">
                <a href="/credits/" class="nav">Credits</a>
                <a href="/philosophy/" class="nav">Balance Philosophy</a>
            </div>

        </div>
        <!--Insert the social buttons somewhere, maybe here-->
    </nav>
</div>
